<%= form_for @monstruo, html: {class: "form-inline"} do |f| %>

		<div class="form-group">
			<%= f.text_field :nombre, class: 'form-control', placeholder: 'Ingrese el nombre', required: true %>
			<%= f.number_field :edad, min: 0, class: 'form-control', placeholder: 'Edad' %>
		</div> <br>
		<%= f.submit "Guardar", class: 'btn btn-primary'%>
	<% end %>